/* Styling needed to contain loaded content in our overlay window */

#overlay {
  color: #d8d8a8;
  display: none;
  height: 500px;
  width: 640px;
  padding: 35px;
  background-image: url(../img/overlay.png);
}

#overlay .close {
  background-image: url(../img/close.png);
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  width: 35px;
  height: 35px;
}

#overlay #content-wrap {
  height: 100%;
  overflow-y: auto;
}
