/* Styling needed to contain loaded content in our overlay window */

#overlay {
  color: #609000;
  font-size: 14px;
  display: none;
  height: 350px;
  width: 350px;
  padding: 35px;
  background-image: url(../img/overlay.png);
}

#overlay .close {
  background-image: url(../img/close.png);
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  width: 35px;
  height: 35px;
}

#overlay #content-wrap {
  height: 100%;
  overflow-y: auto;
}

div.lobby {
  top: 40px;
  left: 40px;
  height: 350px; 
  background: #f0f0d8;
  text-align: center;
}

div.leaderboard {
  top: 40px;
  left: 40px;
  height: 350px; 
  background: #f0f0d8;
  text-align: left;
}

h_overlay {
  font-size: 22px;
}
