body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 62.5%; /* 1em = 10 px in most cases */
  color: #609000;
  background-color: #d8d8a8;
  margin-right: 0em;
}

h1 {
  font-size: 9.6em;
  margin-left: 0.1em;
}

a {
  color: #609000;
  font-size: 2.4em;
  text-decoration: none;
}

#sidebar {
  height: 65em;
  position: fixed;
  right: 0px;
  top: 50%;
  margin-top: -32.5em;
}

#sidebar-toggle {
  float: left;
  width: 2em;
  height: 100%;
  background-color: #609000;
  border-left: 1px solid #90b000;
  border-right: 1px solid #90b000;
  border-top-left-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
}

#sidebar-content {
  width: 30em;
  height: 64.8em;
  background-color: #f0f0d8;
  border: 1px solid #ffffe7;
}

.sidebar-on {
  display: inline-block;
}

.sidebar-off {
  display: none;
}

#center {
  width: 860px;
  margin: 0em auto;
}

#player-canvas {
  float: left;
  margin: 20px;
  margin-left: 0px;
  background: url(../img/board-a.png);
}

#enemy-canvas {
  background: url(../img/board-b.png);
}

#lobby {
  margin-left: 1em
}

div.clearfix {
  clear: both;
}
