body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 62.5%; /* 1em = 10 px in most cases */
  color: #609000;
  background-color: #d8d8a8;
  margin-right: 0em;
}

h1 {
  font-size: 9.6em;
  margin: 0.6em;
}

#sidebar {
  height: 650px;
  position: fixed;
  right: 0px;
  top: 50%;
  margin-top: -325px;
}

#sidebar-toggle {
  float: left;
  width: 20px;
  height: 100%;
  background-color: #c0c078;
  border: 1px solid #609000;
}

#sidebar-content {
  width: 280px;
  height: 100%;
  background-color: #f0f0d8;
  border-top: 1px solid #609000;
  border-bottom: 1px solid #609000;
}

.sidebar-off {
  display: none;
}

#center {
  width: 860px;
  margin: 0em auto;
}

#player-canvas {
  float: left;
  margin-top: 20px;
  margin-right: 20px;
  background: url(../img/board-a.png);
}

#enemy-canvas {
  background: url(../img/board-b.png);
}

a {
  color: #609000;
  font-size: 3.6em;
  text-decoration: none;
}

div.clearfix {
  clear: both;
}
