body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 62.5%; /* 1em = 10 px in most cases */
  color: #609000;
  background-color: #d8d8a8;
  margin-right: 0em;
}

h1 {
  font-size: 9.6em;
  margin-left: 0.1em;
}

h2 {
  font-size: 3.2em;
  margin-bottom: 0.4em;
}

a {
  color: #609000;
  font-size: 2.4em;
  text-decoration: none;
}

#center {
  width: 860px;
  margin: 0em auto;
}

#player-title {
  float: left;
  margin-left: 0.6em;
}

#enemy-title {
  float: right;
  margin-right: 0.6em;
}

#player-canvas {
  float: left;
  margin: 20px;
  margin-left: 0px;
  background: url(../img/board-a.png);
}

#enemy-canvas {
  background: url(../img/board-b.png);
}

#lobby-link {
  margin-left: 1em
}

div.clearfix {
  clear: both;
}
