/* Styling needed to contain loaded content in our overlay window */

#overlay {
  color: #609000;
  font-size: 1.4em;
  display: none;
  height: 350px;
  width: 350px;
  padding: 35px;
  background-image: url(../img/overlay.png);
}

#overlay .close {
  background-image: url(../img/close.png);
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  width: 35px;
  height: 35px;
}

#overlay #content-wrap {
  height: 100%;
  background: #f0f0d8;
  overflow-y: auto;
}

#content-wrap h3 {
  font-size: 1.6em;
}

div.lobby {
  text-align: center;
}

div.lobby li.opponent-link {
  cursor: pointer;
}

div.lobby #new-game {
  cursor: pointer;
  margin-top: 1em;
  font-size: 2em;
}

div.leaderboard {
  text-align: left;
  padding-left: 1em;
}

div.leaderboard li span {
  float: right;
  margin-right: 2em;
}
