body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 62.5%; /* 1em = 10 px in most cases */
  color: #609000;
  background-color: #d8d8a8;
  margin-right: 0em;
}

h1 {
  font-size: 9.6em;
  margin-left: 0.1em;
  cursor: default;
}

h2 {
  font-size: 3.2em;
  margin-bottom: 0.4em;
  cursor: default;
}

a {
  color: #609000;
  font-size: 2.4em;
  text-decoration: none;
}

#center {
  width: 860px;
  margin: 0em auto;
}

#player-title {
  float: left;
  margin-left: 0.6em;
}

#enemy-title {
  float: right;
  margin-right: 0.6em;
}

.player-turn {
  text-decoration: underline;
}

#player-canvas {
  float: left;
  margin: 20px;
  margin-left: 0px;
  background: url(../img/board-a.png);
}

#enemy-canvas {
  background: url(../img/board-b.png);
}

#lobby-link {
  margin-left: 1em
}

div.clearfix {
  clear: both;
}

#result {
  color: #609000;
  font-size: 1.4em;
  display: none;
  height: 70px;
  width: 350px;
  padding: 50px;
  background-image: url(../img/fuzz.png);
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  top: 30%;
  left: 30%;
  position:absolute;
  z-index: 100;
  border-radius: 0.5em;
  border: 10px solid #d8d8a8;
}

#fuzz {
  position:absolute; 
  top:0; 
  left:0; 
  width:100%; 
  z-index:99;
  opacity: 0.7;
  background: url(../img/fuzz.png); 
  display:none;
}
